body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0d1117;
    font-family: sans-serif;
    color: #cdd9e5;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    gap: 12px;
    perspective: 1000px;
}

.card {
    width: 120px;
    height: 120px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-face, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.card-back {
    background-color: #1f6feb;
    color: white;
}

.card-front {
    background-color: #cdd9e5;
    transform: rotateY(180deg);
    padding: 5px;
    box-sizing: border-box;
}


.card-front img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.card-back img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.infoGame{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}